---
import Header from "../components/Header.astro";
import "../styles/global.css";
import LanguagePicker from "../components/LanguagePicker.astro";

interface Props {
  lang: string;
  title: string;
}

const { lang, title } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="/fonts/GT-America-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900"
  >
    <div
      class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <LanguagePicker />
        <Header />
        <slot />
      </div>
    </div>
  </body>
</html>
